In [1]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [4]:
data = pd.read_parquet('/Users/roman/Downloads/rail_data_cleaned_20230728132300.parquet')

Merge the Station Rail Name Reference Table with the API data in order to provide more readable station names.
How would you determine the top 10 most frequently visited stations in a day?
What information can be explored to understand train delays?
Are certain stations busier than others at certain times?

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37100 entries, 8 to 94243
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   route_id                37100 non-null  object
 1   unique_id               37100 non-null  object
 2   service_start_date      37100 non-null  object
 3   update_origin           36515 non-null  object
 4   train_platform          37100 non-null  object
 5   working_time_pass       0 non-null      datetime64[ns]
 6   working_time_arrival    37100 non-null  datetime64[ns]
 7   working_time_departure  37100 non-null  datetime64[ns]
 8   planned_time_arrival    33855 non-null  datetime64[ns]
 9   planned_time_departure  33580 non-null  datetime64[ns]
 10  pass                    0 non-null      object
 11  platform                34114 non-null  object
 12  train_length            10595 non-null  object
 13  actual_arrival_time     31769 non-null  datetime64[ns]
 14  actual_departure_time   34384 non-null  datetime64[ns]
 15  is_delayed_arrival      37100 non-null  bool
 16  is_delayed_departure    37100 non-null  bool
dtypes: bool(2), datetime64[ns](7), object(8)
memory usage: 4.6+ MB

In [6]:
data.head()

,route_id,unique_id,service_start_date,update_origin,train_platform,working_time_pass,working_time_arrival,working_time_departure,planned_time_arrival,planned_time_departure,pass,platform,train_length,actual_arrival_time,actual_departure_time,is_delayed_arrival,is_delayed_departure
8,202307277679020,L79020,2023-07-27,Darwin,STFD,NaT,2023-07-27 00:03:00,2023-07-27 00:03:30,NaT,NaT,None,5,None,2023-07-27 00:53:00,2023-07-27 00:53:00,True,True
10,202307277679020,L79020,2023-07-27,Darwin,SPNY205,NaT,2023-07-27 00:07:00,2023-07-27 00:13:30,NaT,NaT,None,None,None,2023-07-27 00:57:00,2023-07-27 00:58:00,True,True
16,202307277679020,L79020,2023-07-27,Darwin,PADTLL,NaT,2023-07-27 00:30:30,2023-07-27 00:31:00,NaT,NaT,None,B,None,2023-07-27 01:07:00,2023-07-27 01:07:00,True,True
17,202307277679020,L79020,2023-07-27,Darwin,WBRNPKS,NaT,2023-07-27 00:33:00,2023-07-27 00:35:00,NaT,NaT,None,A,None,2023-07-27 01:09:00,2023-07-27 01:10:00,True,True
22,202307277674553,L74553,2023-07-27,TD,SVNOAKS,NaT,2023-07-27 21:53:00,2023-07-27 21:54:30,2023-07-27 21:53:00,2023-07-27 21:54:00,None,1,8,NaT,NaT,False,False

In [7]:
reference_data=pd.read_csv('/Users/roman/Downloads/RailReferences.csv')

In [8]:
reference_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2628 entries, 0 to 2627
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   AtcoCode              2628 non-null   object
 1   TiplocCode            2628 non-null   object
 2   CrsCode               2628 non-null   object
 3   StationName           2628 non-null   object
 4   StationNameLang       0 non-null      float64
 5   GridType              2627 non-null   object
 6   Easting               2628 non-null   int64
 7   Northing              2628 non-null   int64
 8   CreationDateTime      2628 non-null   object
 9   ModificationDateTime  2628 non-null   object
 10  RevisionNumber        2628 non-null   int64
 11  Modification          2628 non-null   object
dtypes: float64(1), int64(3), object(8)
memory usage: 246.5+ KB

In [9]:
reference_data.head()

,AtcoCode,TiplocCode,CrsCode,StationName,StationNameLang,GridType,Easting,Northing,CreationDateTime,ModificationDateTime,RevisionNumber,Modification
0,9100PENZNCE,PENZNCE,PNZ,Penzance Rail Station,NaN,U,147588,30599,2003-11-04T00:00:00,2011-09-30T14:47:28,2,rev
1,9100STIVES,STIVES,SIV,St Ives (Cornwall) Rail Station,NaN,U,151947,40127,2005-04-04T00:00:00,2011-09-30T14:47:28,4,rev
2,9100CARBISB,CARBISB,CBB,Carbis Bay Rail Station,NaN,U,152930,38745,2003-11-04T00:00:00,2011-09-30T14:47:28,5,rev
3,9100STERTH,STERTH,SER,St Erth Rail Station,NaN,U,154150,35730,2003-11-04T00:00:00,2007-02-13T17:06:21,3,rev
4,9100LELANTS,LELANTS,LTS,Lelant Saltings Rail Station,NaN,U,154430,36640,2003-11-04T00:00:00,2011-09-30T14:47:28,2,rev

In [21]:
print(reference_data.shape) 

print(data.shape)

(2628, 12)
(37100, 18)

In [10]:
print(data.isnull().sum())

route_id                      0
unique_id                     0
service_start_date            0
update_origin               585
train_platform                0
working_time_pass         37100
working_time_arrival          0
working_time_departure        0
planned_time_arrival       3245
planned_time_departure     3520
pass                      37100
platform                   2986
train_length              26505
actual_arrival_time        5331
actual_departure_time      2716
is_delayed_arrival            0
is_delayed_departure          0
dtype: int64

In [11]:
print(reference_data.isnull().sum())

AtcoCode                   0
TiplocCode                 0
CrsCode                    0
StationName                0
StationNameLang         2628
GridType                   1
Easting                    0
Northing                   0
CreationDateTime           0
ModificationDateTime       0
RevisionNumber             0
Modification               0
dtype: int64

In [23]:
reference_data = reference_data.rename(columns={'TiplocCode':'train_platform'})

In [24]:
reference_data.head()

,AtcoCode,train_platform,CrsCode,StationName,StationNameLang,GridType,Easting,Northing,CreationDateTime,ModificationDateTime,RevisionNumber,Modification
0,9100PENZNCE,PENZNCE,PNZ,Penzance Rail Station,NaN,U,147588,30599,2003-11-04T00:00:00,2011-09-30T14:47:28,2,rev
1,9100STIVES,STIVES,SIV,St Ives (Cornwall) Rail Station,NaN,U,151947,40127,2005-04-04T00:00:00,2011-09-30T14:47:28,4,rev
2,9100CARBISB,CARBISB,CBB,Carbis Bay Rail Station,NaN,U,152930,38745,2003-11-04T00:00:00,2011-09-30T14:47:28,5,rev
3,9100STERTH,STERTH,SER,St Erth Rail Station,NaN,U,154150,35730,2003-11-04T00:00:00,2007-02-13T17:06:21,3,rev
4,9100LELANTS,LELANTS,LTS,Lelant Saltings Rail Station,NaN,U,154430,36640,2003-11-04T00:00:00,2011-09-30T14:47:28,2,rev

In [25]:
merged = pd.merge(data, reference_data, on='train_platform')

In [26]:
merged.head()

,route_id,unique_id,service_start_date,update_origin,train_platform,working_time_pass,working_time_arrival,working_time_departure,planned_time_arrival,planned_time_departure,...,CrsCode,StationName,StationNameLang,GridType,Easting,Northing,CreationDateTime,ModificationDateTime,RevisionNumber,Modification
0,202307277679020,L79020,2023-07-27,Darwin,STFD,NaT,2023-07-27 00:03:00,2023-07-27 00:03:30,NaT,NaT,...,SRA,Stratford (London) Rail Station,NaN,U,538557,184444,2003-11-04T00:00:00,2009-10-05T17:34:50,2,rev
1,202307277679633,L79633,2023-07-27,TD,STFD,NaT,2023-07-27 19:42:30,2023-07-27 19:43:30,2023-07-27 19:43:00,2023-07-27 19:43:00,...,SRA,Stratford (London) Rail Station,NaN,U,538557,184444,2003-11-04T00:00:00,2009-10-05T17:34:50,2,rev
2,202307277679712,L79712,2023-07-27,TD,STFD,NaT,2023-07-27 17:53:30,2023-07-27 17:54:30,2023-07-27 17:54:00,2023-07-27 17:54:00,...,SRA,Stratford (London) Rail Station,NaN,U,538557,184444,2003-11-04T00:00:00,2009-10-05T17:34:50,2,rev
3,202307277679608,L79608,2023-07-27,Darwin,STFD,NaT,2023-07-27 19:06:30,2023-07-27 19:07:30,2023-07-27 19:07:00,2023-07-27 19:07:00,...,SRA,Stratford (London) Rail Station,NaN,U,538557,184444,2003-11-04T00:00:00,2009-10-05T17:34:50,2,rev
4,202307278001611,P01611,2023-07-27,CIS,STFD,NaT,2023-07-27 21:44:30,2023-07-27 21:45:00,2023-07-27 21:45:00,2023-07-27 21:45:00,...,SRA,Stratford (London) Rail Station,NaN,U,538557,184444,2003-11-04T00:00:00,2009-10-05T17:34:50,2,rev

In [29]:
merged.drop(columns=['StationNameLang', 'GridType', 'Easting', 'Northing', 'CreationDateTime','ModificationDateTime','RevisionNumber','Modification'], inplace=True)

In [30]:
merged.head()

,route_id,unique_id,service_start_date,update_origin,train_platform,working_time_pass,working_time_arrival,working_time_departure,planned_time_arrival,planned_time_departure,...,platform,train_length,actual_arrival_time,actual_departure_time,is_delayed_arrival,is_delayed_departure,station_name,AtcoCode,CrsCode,StationName
0,202307277679020,L79020,2023-07-27,Darwin,STFD,NaT,2023-07-27 00:03:00,2023-07-27 00:03:30,NaT,NaT,...,5,None,2023-07-27 00:53:00,2023-07-27 00:53:00,True,True,Stratford (London) Rail Station,9100STFD,SRA,Stratford (London) Rail Station
1,202307277679633,L79633,2023-07-27,TD,STFD,NaT,2023-07-27 19:42:30,2023-07-27 19:43:30,2023-07-27 19:43:00,2023-07-27 19:43:00,...,8,None,2023-07-27 19:43:00,2023-07-27 19:44:00,False,False,Stratford (London) Rail Station,9100STFD,SRA,Stratford (London) Rail Station
2,202307277679712,L79712,2023-07-27,TD,STFD,NaT,2023-07-27 17:53:30,2023-07-27 17:54:30,2023-07-27 17:54:00,2023-07-27 17:54:00,...,8,None,2023-07-27 17:54:00,2023-07-27 17:54:00,False,False,Haymarket Rail Station,9100STFD,SRA,Stratford (London) Rail Station
3,202307277679608,L79608,2023-07-27,Darwin,STFD,NaT,2023-07-27 19:06:30,2023-07-27 19:07:30,2023-07-27 19:07:00,2023-07-27 19:07:00,...,8,None,2023-07-27 20:46:00,2023-07-27 20:47:00,True,True,Kentish Town West Rail Station,9100STFD,SRA,Stratford (London) Rail Station
4,202307278001611,P01611,2023-07-27,CIS,STFD,NaT,2023-07-27 21:44:30,2023-07-27 21:45:00,2023-07-27 21:45:00,2023-07-27 21:45:00,...,10,5,2023-07-27 21:45:00,2023-07-27 21:45:00,False,False,Freshfield Rail Station,9100STFD,SRA,Stratford (London) Rail Station